# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Pp]ublish/

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
*.code-workspace

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# Files built by Visual Studio
*.obj
*.exe
*.exe.config
*.dlls
*.dll
*.lib
*.pdb
*.ipdb
*.pgc
*.pgd

# NuGet Packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Miscellaneous
.DS_Store
Thumbs.db

# dotnet
*.csproj.user

# Rider IDEs
.rider/
.run/

# MacOS
.AppleDesktop
ehthumbs.db
